<div class="card border-primary mb-3">
  <div class="card-header">
    Listado de clientes
  </div>
  <div class="my-2 text-left">
    <button [routerLink]="['/clientes/form']" type="button" name="button" class="btn btn-rounded btn-primary">Crear</button>
  </div>
  <div class="card-body">
    <h5 class="card-title">Componente</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th>{{ cliente.id }}</th>
          <th>{{ cliente.nombre }}</th>
          <th>{{ cliente.apellido }}</th>
          <th>{{ cliente.email }}</th>
          <th>{{ cliente.createAt }}</th>
        </tr>
      </tbody>
    </table>

    <p class="card-text">Descripcion</p>

  </div>
</div>
